# Google AI Studio (Gemini Flash 3.6 - Free Tier)
GOOGLE_API_KEY=your_google_api_key_here

# LangSmith (Observabilidade - Free Tier)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT=SentinelOps_Sprint1

# Ollama Local (O endpoint padrão do Docker/Localhost)
OLLAMA_BASE_URL=http://localhost:11434